*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    text-size-adjust: none;
    text-decoration-style: none;
}

@font-face {
    font-family: Lemon Milk;
    src: url(assets/fonts/LEMONMILK-Regular.otf);
}

body{
    font-family: 'Lemon Milk';
    background-image: url(../assets/images/bg.png);

}

.logo{
    position: fixed;
    left: 16px;
    top: 2px; 
}

/* nav bar on top */
nav {
    position: fixed;
    background:#222020;
    height: 55px;
    width: 100%;
}
ul.nav_link {
    position: fixed;
    right: 70px;
    top: 16px; 
}
.nav_link li, a{
    font-weight: 400;
    font-size: 14px;
    color: #E9E9E9;  
    /*text-transform: uppercase;*/
    text-decoration: none;
}

.nav_link li {
    
    display: inline-block;
    padding: 0px 40px;
    padding-left: 0px;
}
.nav_link li a {
    border-top: 1px #E9E9E9;
    border-bottom: 1px #E9E9E9;
    padding: 0.5px 0;
    transition: 0.2s ease-in-out;
}
.nav_link li a:hover {
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    color: white;
    padding: 3px 0; 
    font-size: 16px;
   
}


/* New Here Page*/
.journey{
    padding-left: 50px;
    padding-top: 30px;
}


/*----------------------------Jesus Page style------------------------------------------------------------------------*/

.Jesus_Title_page{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 140px;
    width: 100%;
    
}

.Jesus_Title_page h1{
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.Jesus_Title_page div.Jesus_Title_container{
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    gap: 24px;
}

.Para1{
    margin-left: 340px;
    margin-right: 340px;
}

.Jesus_title_Header{
    background-color: black; 
	top: 0;
	left: 0;
	height: 100%;
	background-size: cover;
    background-position: center;
    text-align: center;
	padding: 120px;
	color: white;
    font-size: 29px;
}




