*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    text-size-adjust: none;
    text-decoration-style: none;
}

@font-face {
    font-family: Lemon Milk;
    src: url(assets/fonts/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: Lemon Milk_Bold;
    src: url(../assets/fonts/LEMONMILK-Bold.otf);
}


body{
    font-family: 'Lemon Milk';
    background-image: url(../assets/images/bg.png);

}


.welcome_text{
    font-family: 'Lemon Milk_Bold';
    font-size: 65px;
    padding-top: 20%;
    padding-left: 7%;
}


.below1{
    padding-top: 270px;
}

.join_church{
 position: center;
}

.fg1{
    padding-top: 160px;
}

.Sermon{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    padding-top: 144px;
    padding-left: 10%;
}

.Recent_Sermon{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding-top: 144px;
    padding-left: 10%;
}




