*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    text-size-adjust: none;
    text-decoration-style: none;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    background:#5A5A5A;
    height: 50px;
    width: 100%;
}

label.logo {
    color:white;
    font-size: 30px;
    line-height: 0px;
    padding: 0 2px;
    font-weight: bold;
}

nav ul{
    float:right;
    margin: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 20px;
    margin: 0 7px;
}

nav ul li a{
    color: aliceblue;
}